html
{
  font: 1em/1.5 'Proza Libre', sans-serif;
}

.wrap
{
    width: 85%;
    max-width: 1140px;
    margin: auto;
}

.title
{
  font-family: 'Bungee Inline', cursive;
  font-size: 36px;
  text-decoration: none;
}

a
{
  color: #df5f87;
}

.center-image
{
  margin: 0 auto;
  display: block;
}

.right{
  text-align: right;
}

.signature{
  text-align: right;
  font-style: italic;
}

#profile{
  height: 150px;
}
